{% extends '::base.html.twig' %}

{%  block title %} Yay Twiggy Goodness!!!!{% endblock %}



{% block body %}
    {# Hello comments! #}

    {% for i in 1..10 %}
        Hello <strong>{{ name|upper }}</strong> # {{ i }}!
    {% endfor %}

    <h2>Event Details</h2>
    {{ event.name }}
    {{ event.location }}
{% endblock %}